<nav>
  <div class="span bluecol app-name">FoodLog</div>
  <div class="span"><img src="../assets/vert.png"></div>
</nav>
<div class="center bluecol pagetitle">SaveFood</div>

<form action="" method="post">
  <div class="ligne">
    <label for="Name" class="blaked">Name</label> <br>
    <div class="input-group flex-nowrap">
      <span class="input-group-text" id="addon-wrapping">@</span>
      <input type="text" class="form-control" placeholder="Taux proteine" aria-label="nom repas" name="name" [(ngModel)]="food.name"
        aria-describedby="addon-wrapping">
    </div>
  </div>
  <div class="ligne">
    <label for="Name" class="blaked">calorie</label> <br>
    <div class="input-group flex-nowrap">
      <span class="input-group-text" id="addon-wrapping">@</span>
      <input type="number" class="form-control" placeholder="Taux proteine" aria-label="%proteine" name="calorie" [(ngModel)]="food.calorie"
        aria-describedby="addon-wrapping">
    </div>
  </div>
  <div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-primary" type="button" (click)="savefood()">Save</button>
    <button class="btn btn-danger" type="button" (click)="deleteAllFood()">Reset</button>
  </div>

</form>
