<nav>
  <div class="span bluecol app-name">FoodLog</div>
  <div class="span"><img src="../assets/vert.png"></div>
</nav>
<div class="center bluecol pagetitle">SaveFood</div>

<form action="" method="post">
  <div class="ligne">
    <label for="Name" class="blaked">Name</label> <br>
    <div class="input-group flex-nowrap">
      <span class="input-group-text" id="addon-wrapping">@</span>
      <input type="text" class="form-control" placeholder="Taux proteine" aria-label="nom repas"
        aria-describedby="addon-wrapping">
    </div>
  </div>
  <div class="ligne">
    <label for="Name" class="blaked">taux proteine</label> <br>
    <div class="input-group flex-nowrap">
      <span class="input-group-text" id="addon-wrapping">@</span>
      <input type="text" class="form-control" placeholder="Taux proteine" aria-label="%proteine"
        aria-describedby="addon-wrapping">
    </div>
  </div>
  <div class="ligne">
    <label for="Name" class="blaked">Taux sucre</label> <br>
    <div class="input-group flex-nowrap">
      <span class="input-group-text" id="addon-wrapping">@</span>
      <input type="text" class="form-control" placeholder="% sucre" aria-label="% sucre"
        aria-describedby="addon-wrapping">
    </div>
  </div>
  <div class="ligne">
    <label for="Name" class="blaked">taux fibre</label> <br>
    <div class="input-group flex-nowrap">
      <span class="input-group-text" id="addon-wrapping">@</span>
      <input type="text" class="form-control" placeholder="taux fibre" aria-label="Username"
        aria-describedby="addon-wrapping">
    </div>
  </div>
  <div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-primary" type="button">Save</button>
  </div>

</form>
